                <% if (data.activities && data.activities.length > 0) { %>
                <% data.activities.forEach(function(ac) { %>
                <li>
                    <div>
                        <p class="user-info">
                            <a hidefocus="true" class="avatar" href="/user/<%= ac._belong_u? ac._belong_u._id:ac._belong_u %>"><img width="25" height="25" src="<%= ac._belong_u.avatar %>" /></a>
                            <em class="user-desc">
                            <% if (ac._belong_u) { %>
                            <a hidefocus="true" href="/user/<%= ac._belong_u._id %>">
                            <%= ac._belong_u.nickname %>
                            <% } else { %>
                            <a hidefocus="true" href="/user/<%= ac._belong_u %>">
                            <%= ac.alias %>
                            <% } %>
                            </a>
                            于<%= timeFormat(ac.date) %>
                            <% if (ac.type == 0) { %>
                            创建了想法
                            <% if ( ac._create_d) { %>
                            <a hidefocus="true" href="/dream/<%= ac._create_d._id %>"><%= ac._create_d.title %></a>
                            <% } else { %>
                            该想法已经不存在
                            <% } %>
                            <% } else if ([1, 2, 3].indexOf(ac.type) !== -1) { %>
                            在想法
                            <% if (ac._belong_d) { %>
                            <a hidefocus="true" href="/dream/<%= ac._belong_d._id %>"><%= ac._belong_d.title %></a>
                            <% } else { %>
                            该想法已经不存在
                            <% } %>
                            中
                            <% if (ac.type == 1) { %>
                            更新了历程
                            <% } else if (ac.type == 2) { %>
                            发表了建议
                            <% } else if (ac.type == 3) { %>
                            发表了心得
                            <% } %>
                            <% } %>
                            </em>
                        </p>
                        <% if (ac.type == 0 && ac._create_d) { %>
                        <div class="ac-summary"><%= ac._create_d.description %></div>
                        <% } else if (ac.type == 1) { %>
                        <% if (ac._create_n) { %>
                        <div class="ac-summary"><%= ac._create_n.content %></div>
                        <div><a hidefocus="true" href="/dream/<%= ac._belong_d && ac._belong_d._id %>/node/<%= ac._create_n._id %>">查看</a></div>
                        <% } else { %>
                        <div class="ac-summary not-exist-content">该历程已经不存在</div>
                        <% } %>
                        <% } else if (ac.type == 2) { %>
                        <% if (ac._create_s) { %>
                        <div class="ac-summary"><%- ac._create_s.summary %></div>
                        <% if (ac._create_s.images) { %>
                        <div class="ac-images">
                            <% for (var i = 0, list = ac._create_s.images.split('|'), l = list.length; i < l; i++) { %>
                            <img width="90" height="90" src="<%= list[i] %>" />
                            <% } %>
                        </div>
                        <% } %>
                        <div><a hidefocus="true" href="/dream/<%= ac._belong_d && ac._belong_d._id %>/suggest/<%= ac._create_s._id %>">查看</a></div>
                        <% } else { %>
                        <div class="ac-summary not-exist-content">该建议已经不存在</div>
                        <% } %>
                        <% } else if (ac.type == 3) { %>
                        <% if (ac._create_e) { %>
                        <div class="ac-summary"><%- ac._create_e.summary %></div>
                        <div><a hidefocus="true" href="/dream/<%= ac._belong_d && ac._belong_d._id %>/experience/<%= ac._create_e._id %>">查看</a></div>
                        <% if (ac._create_e.images) { %>
                        <div class="ac-images">
                            <% for (var i = 0, list = ac._create_s.images.split('|'), l = list.length; i < l; i++) { %>
                            <img width="90" height="90" src="<%= list[i] %>" />
                            <% } %>
                        </div>
                        <% } %>
                        <% } else { %>
                        <div class="ac-summary not-exist-content">该心得已经不存在</div>
                        <% } %>
                        <% } %>
                    </div>
                </li>
                <% }); %>
                <li>
                <% if (data.hasmore) { %>
                    <div  data-anext="<%= data.anext %>" data-tab="<%= data.tab %>" class="more"><a hidefocus="true" class="btn">查看更多 ></a></div>
                <% } %>
                </li>
                <% } else { %>
                <li>
                    <div class="result">
                        <% if (data.tab == 'fuser') { %>
                        你没有关注任何人。
                        <% } else if (data.tab == 'fdream') { %>
                        <div class="no-dream-content">
                            <div class="no-dream-tips">你目前没有关注任何想法</div>
                            <div class="btn-group"><a hidefocus="true" href="/intro" class="btn btn-big">了解娑婆世界</a><a hidefocus="true" href="/found" class="btn btn-big">看看</a></div>
                        </div>
                        <% } else { %>
                        没有任何动态。
                        <% } %>
                    </div>
                </li>
                <% } %>
