<div class="face-tips" style="display: none;">
    <ul>
        <li><a title="微笑" href="javascript:;">(∩＿∩)</a></li>
        <li><a title="愤怒" href="javascript:;">╰（｀□′）╯</a></li>
        <li><a title="惊讶" href="javascript:;">（⊙ο⊙）</a></li>
        <li><a title="无奈" href="javascript:;">╮(╯▽╰)╭</a></li>
        <li><a title="可爱" href="javascript:;">(*^__^*)</a></li>
        <li><a title="Yeah!" href="javascript:;">(●°u°●)」</a></li>
        <li><a title="卡哇伊" href="javascript:;">(๑• . •๑)</a></li>
        <li><a title="飞吻" href="javascript:;">（づ￣3￣）づ╭❤～</a></li>
    </ul>
</div>
