<div class="footer">
    <div class="company-area">
        <p class="company-ver">© 2016 深圳娑婆诃科技有限公司　suopoearth.com 版权所有</p>
        <div class="company-nav">
            <a href="/intro">关于我们</a>
            <a class="contact" href="/contact">联系我们</a>
            <a class="feedback" href="mailto:290448666@qq.com">反馈建议</a>
        </div>
    </div>
</div>
<script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "//hm.baidu.com/hm.js?9ef942b0d6b160b80ac87ad7fdbb7d5f";
  var s = document.getElementsByTagName("script")[0]; 
  s.parentNode.insertBefore(hm, s);
})();
</script>
