<div class="header">
    <!--<button id="create_dream_node_btn">+</button>-->
    <!--<button id="prev_dream_btn"><</button>-->
    <!--<button id="next_dream_btn">></button>-->
    <div class="head-con">
        <div class="h-left">
            <div class="suopo">
                <a class="logo" href="http://www.suopoearth.com"></a>
                <a id="app-list-arrow" class="app-list-arrow" href="javascript:;">
                    <i class="arrow-icon"></i>
                </a>
            </div>
            <ul id="app-list" class="app-list">
                <li><a href="/">首页</a></li>
                <li><a href="/intro">关于娑婆世界</a></li>
            </ul>
        </div>
        <ul class="nav-list">
            <li>
                <button class="btn btn-search" type="button" id="search_dream_btn">
                    <i class="search-icon"></i>
                </button>
                <div id="search-area" class="search-area">
                    <a id="search-back" href="javascript:;" class="btn-back" type="button">
                        <i class="back-icon"></i>
                    </a>
                    <a id="search-reset" href="javascript:;" class="btn-close" type="button">
                        <i class="close-icon"></i>
                    </a>
                    <form action="/result">
                        <input id="search-input" style="color: #999;" class="search-in" type="text" name="query" placeholder="分享或查找本站的心愿、想法.." <% if (data.query) { %>value="<%= data.query %>"<% } %> />
                        <button class="btn btn-search" type="submit">
                            <i class="search-icon"></i>
                        </button>
                    </form>
                </div>
            </li>

            <% if (user) { %>
            <li>
                <button
                    <% if (user) { %>
                    data-isauthenticated="true"
                    <% } else { %>
                    data-isauthenticated="false"
                    <% } %>
                    class="btn" id="create_dream_btn"><i class="icon-add-small"></i></button>
            </li>
            <li class="user-in">
                <button id="navbar-toggle" data-expanded="false" class="collapsed navbar-toggle" type="button">
                    <i class="list-icon"></i>
                </button>
                <nav id="navbar-collapse" class="navbar-collapse">
                    <ul class="navbar-nav nav">
                        <li id="message-nav">
                            <div class="message-opt">
                                <a rel="msg-view" href="javascript:;">消息</a>
                                <% if (data.messages && data.messages > 0) { %>
                                <span class="message-new"><%= data.messages %></span>
                                <% } %>
                            </div>
                            <ul class="dropDown message-list" style="display: none;">
                            </ul>
                        </li>
                        <li>
                            <div class="user-nav">
                                <a class="user-pic" href="/user/<%= user.id %>"><img width="25" height="25" src="<%= (user.avatar || '/images/user_mini.png') %>" /></a>
                                <a class="user-name" href="/user/<%= user.id %>"><%= user.nickname %></a>
                                <a href="javascript:;" class="list-arrow">
                                    <i class="arrow-icon"></i>
                                </a>
                            </div>
                            <ul class="dropDown config-list" style="display: none;">
                                <li><a href="/user/<%= user.id %>">个人主页</a></li>
                                <li><a href="/settings">设置</a></li>
                                <li><a href="/signout">退出</a></li>
                            </ul>
                        </li>
                    </ul>
                </nav>
            </li>
            <% } else { %>
            <li class="user-out">
                <a href="/signup">注册</a>
                <a href="/signin">登录</a>
            </li>
            <% } %>
        </ul>
    </div>
</div>
<% if (user) { %>
        <% if (!user.isAuthenticated ) { %>
        <div class="notice-area">
            <div class="notice">注：您的帐号没有经过认证，请确认认证邮件并认证账号以免帐号过期，<a href="/settings/emails">未收到认证邮件请点击这里-></a>。
            </div>
        </div>
        <% } %>
        <% if (notice) { %>
        <div class="notice-area">
            <div class="notice"><%= notice %></div>
        </div>
        <% } %>
    </div>
<% } %>
