<!DCOTYPE html>
<html lang="zh-cms-Hans">
<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <title><%= title %></title>
    <!-- 通用样式 -->
    <link href="/css/style.css" rel="stylesheet" type="text/css" />
    <!--[if lt IE 9]>
    <link href="/css/compatible.css" rel="stylesheet" type="text/css" />
    <![endif]-->
</head>
<body>
    <% include header.html %>
    <div class="container canvas-bg">
        <div class="tools">
            <div>
                <h3>色板</h3>
                <div class="color-bg">
                    <div id="brush-color" class="color"></div>
                </div>
            </div>
            <div>
                <a id="avatar-save" class="btn">使用这张图</a>
                <form id="file-form" action="/avatar/upload" enctype="multipart/form-data" method="POST">
                    <input type="file" id="file-select" name="avatar" />
                    <input type="submit" value="Upload" />
                </form>
            </div>
        </div>
        <canvas id="sketch" width="960" height="960"></canvas>
    </div>
    <% include footer.html %>
    <% include create.html %>
</body>
<script src="/js/jquery.min.js" type="text/javascript"></script>
<script src="/js/jquery.mousewheel.min.js" type="text/javascript"></script>
<script src="/js/common.js" type="text/javascript"></script>
<script type="text/javascript">
    var KEY_W = 87;
    var KEY_S = 83;

    var canvas = document.getElementById('sketch');
    var brushColor = document.getElementById('brush-color');
    var context = canvas.getContext("2d");
    var x = 0;
    var y = 0;
    var a = 1;
    var clear = true;

    var B_W = 10;

    var container = [];

    function draw() {
        if (canvas.getContext) {
            var ctx = canvas.getContext('2d');
            ctx.clearRect(0, 0, 960, 960);

            for (var i=0;i<container.length;i++) {
                var child= container[i];
                ctx.fillStyle = "rgba(0, 0, 0, " + child.a + ")";
                ctx.fillRect(child.x, child.y, B_W, B_W);
            }
        }
    }

    $(canvas).on('mousewheel', function(e) {
        
    });

    $(document).on('keydown', function(e) {
        var key = e.keyCode;
        switch(key) {
            case KEY_S:
                var na = a - 0.1;
                a = Math.max(0, na);
                break;
            case KEY_W:
                var na = a + 0.1;
                a = Math.min(1, na);
                break;
        }

        $(brushColor).css('opacity', a);
    })

    $(canvas).on('mousemove', function(e) {
        if (!clear) {
            var ofTop  = $('body').scrollTop(),
            ofLeft = $(canvas).offset().left;
            var nx = Math.floor((e.clientX - ofLeft - B_W * .5)/B_W) * B_W;
            var ny = Math.floor((e.clientY + ofTop - 67 - B_W * .5)/B_W) * B_W;
            if (Math.abs(nx - x) >= 10 || Math.abs(ny - y) >= 10) {
                x = nx;
                y = ny;
                addChild();
            }
        }
    });

    $(canvas).on('mousedown', function(e) {
        clear = false;
        var ofTop  = $('body').scrollTop(),
        ofLeft = $(canvas).offset().left;
        x = Math.floor((e.clientX - ofLeft - B_W * .5)/B_W) * B_W;
        y = Math.floor((e.clientY + ofTop - 67 - B_W * .5)/B_W) * B_W;
        addChild();
    });

    $(canvas).on('mouseup', function(e) {
        clear = true;
    });

    function addChild() {
        var brush = {
            width: B_W,
            height: B_W,
            x: x,
            y: y,
            a: a
        };
        container.push(brush);
    }

    function step() {
        if (!clear) draw();
        requestAnimationFrame(step);
    }
    requestAnimationFrame(step);

    function dataURItoBlob(dataURI) {
        var byteString;
        if (dataURI.split(',')[0].indexOf('base64') >= 0)
            byteString = atob(dataURI.split(',')[1]);
        else
            byteString = unescape(dataURI.split(',')[1]);

        var mimeString = dataURI.split(',')[0].split(':')[1].split(';')[0];

        var ia = new Uint8Array(byteString.length);
        for (var i = 0; i < byteString.length; i++) {
            ia[i] = byteString.charCodeAt(i);
        }

        return new Blob([ia], {type:mimeString});
    }

    $('#avatar-save').on('click', function() {
        var dataURL = canvas.toDataURL(),
            blob = dataURItoBlob(dataURL);

        var data = new FormData(document.forms[0]);
        data.append('avatar', blob);

        $.ajax({
            url: "/avatar/upload",
            type: "POST",
            data: data,
            async: false,
            cache: false,
            processData: false,
            contentType: false,
        }).done(function(data) {
        }).fail(function() {});
    });
</script>
</html>
