<!DCOTYPE html>
<html lang="zh-cms-Hans">
<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <title><%= title %></title>
    <!-- 通用样式 -->
    <link href="/css/style.css" rel="stylesheet" type="text/css" />
    <!--[if lt IE 9]>
    <link href="/css/compatible.css" rel="stylesheet" type="text/css" />
    <![endif]-->
</head>
<body>
    <% include header.html %>
    <div class="container canvas-bg">
        <canvas id="sketch" width="960" height="960"></canvas>
    </div>
    <% include footer.html %>
    <% include create.html %>
</body>
<script src="/js/jquery.min.js" type="text/javascript"></script>
<script src="/js/jquery.mousewheel.min.js" type="text/javascript"></script>
<script src="/js/common.js" type="text/javascript"></script>
<script type="text/javascript">
    var canvas = document.getElementById('sketch');
    var context = canvas.getContext("2d");
    var x = 0;
    var y = 0;
    var a = 1;
    var clear = true;

    var B_W = 10;

    var container = [];

    function draw() {
        if (canvas.getContext) {
            var ctx = canvas.getContext('2d');
            ctx.clearRect(0, 0, 1024, 640);

            for (var i=0;i<container.length;i++) {
                var child= container[i];
                ctx.fillStyle = "rgba(0, 0, 0, " + child.a + ")";
                ctx.fillRect(child.x, child.y, B_W, B_W);
            }
        }
    }

    $(canvas).on('mousewheel', function(e) {
        if (e.deltaY > 0) {
            var na = a + 0.1;
            a = Math.min(1, na);
        }
        if (e.deltaY < 0) {
            var na = a - 0.1;
            a = Math.max(0, na);
        }

        draw();
    });

    $(canvas).on('mousemove', function(e) {
        if (!clear) {
            var ofTop  = $('body').scrollTop(),
            ofLeft = $(canvas).offset().left;
            x = Math.floor((e.clientX - ofLeft - B_W * .5)/B_W) * B_W;
            y = Math.floor((e.clientY + ofTop - 67 - B_W * .5)/B_W) * B_W;
            addChild();
        }
    });

    $(canvas).on('mousedown', function(e) {
        clear = false;
        var ofTop  = $('body').scrollTop(),
        ofLeft = $(canvas).offset().left;
        x = Math.floor((e.clientX - ofLeft - B_W * .5)/B_W) * B_W;
        y = Math.floor((e.clientY + ofTop - 67 - B_W * .5)/B_W) * B_W;
        addChild();
    });

    $(canvas).on('mouseup', function(e) {
        clear = true;
    });

    function addChild() {
        var brush = {
            width: B_W,
            height: B_W,
            x: x,
            y: y,
            a: a
        };
        container.push(brush);
    }

    function step() {
        if (!clear) draw();
        requestAnimationFrame(step);
    }
    requestAnimationFrame(step);
</script>
</html>
