<!DCOTYPE html>
<html lang="zh-cms-Hans">
<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <title><%= title %></title>
    <!-- 通用样式 -->
    <link href="/css/style.css" rel="stylesheet" type="text/css" />
    <!--[if lt IE 9]>
    <link href="/css/compatible.css" rel="stylesheet" type="text/css" />
    <![endif]-->
</head>
<body>
    <% include header.html %>
    <div class="container canvas-bg">
        <div class="tools">
            <div>
                <h3>色板</h3>
                <div class="color-bg">
                    <div id="brush-color" class="color"></div>
                </div>
            </div>
            <div>
                <a id="avatar-save" class="btn">使用这张图</a>
            </div>
        </div>
        <div id="canvas" style="width: 960px; height: 960px;">
        </div>
    </div>
    <% include footer.html %>
    <% include create.html %>
</body>
<script data-main="/js/canvas.js" src="/js/require.js"></script>
</html>
