<!DCOTYPE html>
<html lang="zh-cms-Hans">
<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <title><%= title %></title>
    <!-- 通用样式 -->
    <link href="/css/style.css" rel="stylesheet" type="text/css" />
    <!--[if lt IE 9]>
    <link href="/css/compatible.css" rel="stylesheet" type="text/css" />
    <![endif]-->
</head>
<body>
    <% include header.html %>
    <% include banner.html %>
    <div class="container">
        <div class="team-area">
            <div class="tab-nav team-nav">
                <ul>
                    <li><a class="tab" href="/intro">关于我们</a></li>
                    <li><a class="tab cur" href="/contact">联系我们</a></li>
                </ul>
            </div>
            <div class="team-content">
                <h2>联系方式</h2>
                <p>联系人：拉拉小伙儿</p>
                <p>邮箱  ：qqmmgg123@gmail.com</p>
                <p>地址  ：深圳市南山区科技路朗景园A栋408</p>
                <p>Copyright ©2016</p>
                <p>深圳娑婆诃科技有限公司</P>
            </div>
        </div>
    </div>
    <% include footer.html %>
    <% include signinpop.html %>
    <% include create.html %>
</body>
<script data-main="/js/default.js" src="/js/require.js"></script>
</html>
