<!DCOTYPE html>
<html lang="zh-cms-Hans">
<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <title><%= title %></title>
    <!-- 通用样式 -->
    <link href="/css/style.css" rel="stylesheet" type="text/css" />
    <!--[if lt IE 9]>
    <link href="/css/compatible.css" rel="stylesheet" type="text/css" />
    <![endif]-->
</head>
<body>
    <% include header.html %>
    <div class="banner for-signin">
        <div class="forgot-area">
            <form action="/forgot" method="post">
                <div><%= error %></div>
                <div>
                    <p class="label"><label for="email">输入您的邮箱地址，我们将会发一个人链接让您重置您的密码。</label></p>
                    <p class="field"><input type="text" id="email" name="email" placeholder="输入您的邮箱" required></p>
                </div>
                <div>
                    <button class="btn btn-primary" type="submit">发送密码重置邮件</button>
                </div>
            </form>
        </div>
    </div>
    <% include footer.html %>
    <% include create.html %>
    </body>
    <script data-main="/js/default.js" src="/js/require.js"></script>
</html>
