<div class="header t-fixed">
    <!--<button id="create_dream_node_btn">+</button>-->
    <!--<button id="prev_dream_btn"><</button>-->
    <!--<button id="next_dream_btn">></button>-->
    <div class="head-con">
        <ul class="h-left">
            <li><a href="http://www.suopoearth.com" class="logo"></a></li>
            <li><button class="none" id="confirm_btn">写完了 ></button></li>
            <li>
            <div class="create-area">
                <form action="/result">
                    <input style="color: #999;" class="search-in" type="text" name="query" placeholder="分享你的内心所想，所往，所念..." />
                    <input class="btn" type="submit" id="search_dream_btn" value="搜索" />
                    <a href="javascript:;"
                        <% if (user) { %>
                        data-isauthenticated="true"
                        <% } else { %>
                        data-isauthenticated="false"
                        <% } %>
                     class="btn" id="create_dream_btn">+</a>
                </form>
            </div>
            </li>
        </ul>
        <ul class="h-right">
            <li><a href="/">首页</a></li>
            <% if (user) { %>
            <li><a href="/found">看看</a></li>
            <% } %>
            <li><a href="/intro">关于我们</a></li>
            <% if (user) { %>
            <li>
                <div class="message-opt">
                    <a href="/message">消息</a>
                    <% if (data.messages && data.messages.length > 0) { %>
                    <span class="message-new">0</span>
                    <% } %>
                </div>
            </li>
            <li>
                <div class="user-nav">
                    <a class="user-pic" href="/user/<%= user.id %>"><img src="/images/user_mini.png" /></a>
                    <a class="user-name" href="/user/<%= user.id %>"><%= user.nickname %></a>
                    <a href="javascript:;" class="list-arrow">
                        <i class="arrow-icon"></i>
                    </a>
                </div>
                <ul class="config-list" style="display: none;">
                    <li><a href="/settings">设置</a></li>
                    <li><a href="/signout">退出</a></li>
                </ul>
            </li>
            <% } else { %>
            <li><a href="/signin">登录</a> | <a href="/signup">注册</a></li>
            <% } %>
        </ul>
    </div>
</div>
<% if (user) { %>
    <div class="note-area">
        <% if (!user.isAuthenticated ) { %>
        <div class="note">注：您的帐号没有经过认证，请确认认证邮件并认证账号以免帐号过期，<a href="/settings/emails">未收到认证邮件点击-></a>。
        </div>
        <% } %>
        <% if (notice) { %>
        <div class="note-area"><div class="note"><%= notice %></div></div>
        <% } %>
    </div>
<% } %>
