<!DCOTYPE html>
<html lang="zh-cms-Hans">
<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <title><%= title %></title>
    <!-- 通用样式 -->
    <link href="/css/style.css" rel="stylesheet" type="text/css" />
    <!--[if lt IE 9]>
    <link href="/css/compatible.css" rel="stylesheet" type="text/css" />
    <![endif]-->
</head>
<body>
    <% include header.html %>
    <% include banner.html %>
    <div class="container">
        <div class="team-area">
            <div class="team-nav tab-nav">
                <ul>
                    <li><a class="tab cur" href="/intro">关于我们</a></li>
                    <li><a class="tab" href="/contact">联系我们</a></li>
                </ul>
            </div>
            <div class="team-content">
                <h2>娑婆世界是做什么的</h2>
                <p>小时候，我们的小脑袋里曾装着很多纯真的想法，那时候回味其中，心里总是美滋滋的。</br>

                <p>渐渐地，我们长大了，年轻的我们，偶尔也会有一些青涩的想法，回忆当时，也别有一番滋味，但少了一些纯真和烂漫。</p>

                <p>时间渐渐的跑掉，如今，当年美好的想法，越来越少，生活的节奏越来越快，每天朝九晚五的忙碌着，却没法净下心来想想到底是为了什么。</p>
                <p>我们像上了发条的机器人儿被社会驱赶着，我们时而会抱怨，时而还会努力尝试着找到我们自己的节奏，然而一次次的执着又被现实无情的打碎，然后被我们抛弃，于是乎我们错过了太多生命的美丽。<br>
                <p>有时候我总是害怕，害怕年老体衰，时日不多了，回忆过去，剩下的，就只有满满的遗憾。<br><br></p>

                <p>娑婆世界是一个帮助大家追寻内心所想，所往，让自己和娑婆世界的所有用户一起践行，见证内心的想法的分享平台。</p>
                
                <p>每一个人的每一个想法都值得被尊重，被敬畏。</p>

                <h2>娑婆世界的团队</h2>
                <p>娑婆世界的团队很小，目前只有拉拉小伙儿孤独一人，需要很多优秀的骚年，然而我很穷~~后面省略无数字...</p>
            </div>
        </div>
    </div>
    <% include footer.html %>
    <% include signinpop.html %>
    <% include create.html %>
</body>
<script data-main="/js/default.js" src="/js/require.js"></script>
</html>
