<!DCOTYPE html>
<html lang="zh-cms-Hans">
<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title><%= title %></title>
    <link rel="shortcut icon" href="/favicon.ico" /> 
    <!-- 通用样式 -->
    <link href="/css/style.css" rel="stylesheet" type="text/css" />
    <!--[if lt IE 9]>
    <link href="/css/compatible.css" rel="stylesheet" type="text/css" />
    <![endif]-->
</head>
<body>
    <% include header.html %>
    <div class="container">
        <div class="dream-con">
        <% if (data.dreams.length > 0) { %>
        <% } else { %>
        <div>你目前没有分享任何想法</div>
        <div><a class="btn">查看帮助</a><a id="first_cdream_btn" class="btn">创建</a></div>
        <% } %>
        </div>
    </div>
    <% include create.html %>
</body>
<script data-main="/js/default.js" src="/js/require.js"></script>
</html>
