<!DCOTYPE html>
<html lang="zh-cms-Hans">
<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <title><%= title %></title>
    <!-- 通用样式 -->
    <link href="/css/style.css" rel="stylesheet" type="text/css" />
    <!--[if lt IE 9]>
    <link href="/css/compatible.css" rel="stylesheet" type="text/css" />
    <![endif]-->
</head>
<body>
    <% include header.html %>
    <div class="container">
        <div class="signup-area">
            <form id="signup-form" action="/signup" autocomplete="off" method="post" novalidate>
                <div class="signup-error"><%= info %></div>
                <!--<div>-->
                    <!--<p class="label"><label for="email">邮箱</label></p>-->
                    <!--<p class="field"><input type="email" name="email" id="email" placeholder="输入邮箱" required></p>-->
                <!--</div>-->
                <div>
                    <p class="label"><label for="username">邮箱</label></p>
                    <p class="field"><input type="email" name="username" id="username" placeholder="输入邮箱" required></p>
                    <p class="validate-error" style="display: none;"></p>
                </div>
                <div>
                    <p class="label"><label for="nickname">昵称</label></p>
                    <p class="field"><input type="text" name="nickname" id="nickname" placeholder="输入昵称" required></p>
                    <p class="validate-error" style="display: none;"></p>
                </div>
                <div>
                    <p class="label"><label for="password">密码</label></p>
                    <p class="field"><input type="password" name="password" id="password" placeholder="输入密码" required></p>
                    <p class="validate-error" style="display: none;"></p>
                </div>
                <!--<div>-->
                    <!--<p class="label"><label for="password_report">密码确认</label></p>-->
                    <!--<p class="field"><input type="password" name="repassword" id="password_repeat" placeholder="再次输入密码" required></p>-->
                <!--</div>-->
                <div>
                <button id="signup-btn" type="submit" class="btn btn-primary">注册</button>
                <a class="btn btn-default" href="/signin" role="button">登录 ></a>
                </div>
            </form>
        </div>
    </div>
    <% include footer.html %>
    <% include create.html %>
</body>
<script data-main="/js/signup.js" src="/js/require.js"></script>
</html>
