                        <% if (data.activities && data.activities.length > 0) { %>
                        <% data.activities.forEach(function(ac) { %>
                        <li>
                            <div>
                                <p class="user-info">
                                <a class="avatar" href="/user/<%= ac._belong_u? ac._belong_u._id:ac._belong_u %>"><img width="25" height="25" src="<%= ac._belong_u.avatar %>" /></a>
                                <em class="user-desc">
                                    <% if (ac._belong_u) { %>
                                    <a href="/user/<%= ac._belong_u._id %>">
                                    <%= ac._belong_u.nickname %>
                                    <% } else { %>
                                    <a href="/user/<%= ac._belong_u %>">
                                    <%= ac.alias %>
                                    <% } %>
                                    </a>
                                    于<%= timeFormat(ac.date) %>
                                    <% if (ac.type == 0) { %>
                                    创建了想法
                                    <% if (ac._create_d) { %>
                                    <a href="/dream/<%= ac._create_d._id %>"><%= ac._create_d.title %></a>
                                    <% } else { %>
                                    该想法已经不存在
                                    <% } %>
                                    <% } else if (ac.type == 1) { %>
                                    在想法
                                    <% if (ac._belong_d) { %>
                                    <a href="/dream/<%= ac._belong_d._id %>"><%= ac._belong_d.title %></a>
                                    <% } else { %>
                                    该想法已经不存在
                                    <% } %>
                                    中
                                    更新了历程
                                    <% } %>
                                </em>
                                </p>
                                <% if (ac.type == 0 && ac._create_d) { %>
                                <p class="ac-summary"><%= ac._create_d.description %></p>
                                <% } else if (ac.type == 1) { %>
                                <% if (ac._create_n) { %>
                                <p class="ac-summary"><%= ac._create_n.content %></p>
                                <p><a href="/dream/<%= ac._belong_d && ac._belong_d._id %>?nid=<%= ac._create_n._id %>">查看</a></p>
                                <% } else { %>
                                该历程已经不存在
                                <% } %>
                                <% } %>
                            </div>
                        </li>
                        <% }); %>
                        <li>
                        <% if (data.hasmore) { %>
                            <div  data-anext="<%= data.anext %>" data-uid="<%= data.id %>" class="more"><a class="btn">查看更多 ></a></div>
                        <% } %>
                        </li>
                        <% } else { %>
                        <li>
                            <div class="result">
                                没有想法的践行历程
                            </div>
                        </li>
                        <% } %>

