<!DCOTYPE html>
<html lang="zh-cms-Hans">
<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <title><%= title %></title>
    <!-- 通用样式 -->
    <link href="/css/style.css" rel="stylesheet" type="text/css" />
    <link href="/css/user.css" rel="stylesheet" type="text/css" />
    <!--[if lt IE 9]>
    <link href="/css/compatible.css" rel="stylesheet" type="text/css" />
    <![endif]-->
</head>
<body>
    <% include header.html %>
    <div class="container">
        <div class="dream-con">
            <div class="dream-left">
                <div class="mydream-area">
                    <div class="mydream-nav">
                        <div class="nav-list">
                            <ul>
                                <li><a href="/user/<%= data.id %>" class="<%if (data.tab == "dream") {%>cur<% } %> tab">我的想法</a></li>
                                <li><a href="/user/<%= data.id %>?tab=activity" class="<%if (data.tab == "activity") {%>cur<% } %> tab">我的动态</a></li>
                            </ul>
                        </div>
                        <div class="nav-ctrl">
                            <% if (user) { %>
                            <a href="/settings" class="edit-profile btn">编辑个人档</a>
                            <% } %>
                            <% if (data.isfollow) { %>
                            <button data-isfollow="<%= data.isfollow %>" data-fid="<%= data.id %>" class="follow btn">
                                取消关注
                            </button>
                            <% } else { %>
                            <button data-isfollow="<%= data.isfollow %>" data-fid="<%= data.id %>" class="follow btn">
                                关注
                            </button>
                            <% } %>
                            <!--<button class="message-add btn">打招呼</button>-->
                        </div>
                    </div>
                    <% if (data.tab == "dream") { %>
                    <div class="mydream-list">
                        <% if (data.dreams && data.dreams.length > 0) { %>
                        <ul>
                            <% data.dreams.forEach(function(dream) { %>
                            <li>
                                <h3><a href="/dream/<%= dream.id %>"><%= dream.title %></a></h3>
                                <p><%= dream.description %></p>
                            </li>
                            <% }); %>
                        </ul>
                        <% } else { %>
                        <div class="no-dream-content">
                            <div class="no-dream-tips">你目前没有分享任何想法</div>
                            <div class="btn-group"><a href="/intro" class="btn btn-big">关于娑婆世界</a><a id="first_cdream_btn" class="btn btn-big">分享想法</a></div>
                        </div>
                        <% } %>
                    </div>
                    <% } else if (data.tab == "activity") { %>
                        <% if (data.activities && data.activities.length > 0) { %>
                        <% data.activities.forEach(function(ac) { %>
                        <div class="process-node">
                            <div>
                                <p class="user-info">
                                <a class="avatar" href="/user/<%= ac._belong_u? ac._belong_u.id:ac._belong_u %>"><img src="/images/user_mini.png" /></a>
                                <em class="username">
                                    <% if (ac._belong_u) { %>
                                    <a href="/user/<%= ac._belong_u.id %>">
                                    <%= ac._belong_u.nickname %>
                                    <% } else { %>
                                    <a href="/user/<%= ac._belong_u %>">
                                    <%= ac.alias %>
                                    <% } %>
                                    </a>
                                    于<%= timeFormat(ac.date) %>
                                    <% if (ac.type == 0 && ac._create_d) { %>
                                    创建了想法<a href="/dream/<%= ac._create_d.id %>"><%= ac._create_d.title %></a>中
                                    <% } else if (ac.type == 1 && ac._create_n) { %>
                                    在想法<a href="/dream/<%= ac._belong_d.id %>"><%= ac._belong_d.title %></a>中
                                    更新了历程
                                    <% } %>
                                </em>
                                </p>
                                <% if (ac.type == 0 && ac._create_d) { %>
                                <p class="node-content"><%= ac._create_d.description %></p>
                                <% } else if (ac.type == 1 && ac._create_n) { %>
                                <p class="node-content"><%= ac._create_n.content %></p>
                                <% } %>
                            </div>
                        </div>
                        <% }); %>
                        <!--<div class="process-node">-->
                        <!--<div class="more"><a class="btn">查看更多 ></a></div>-->
                        <!--</div>-->
                        <% } else { %>
                        <div class="process-node">
                            <div class="result">
                                没有想法的践行历程
                            </div>
                        </div>
                        <% } %>
                    <% } %>
                </div>
            </div>
            <div class="dream-right">
                <div class="user-area">
                    <div class="avatar">
                        <img src="/images/user_pic.png" />
                    </div>
                    <div class="info">
                        <h1><%= data.name %></h1>
                        <p><%= data.bio %></p>
                        <p>于<%= data.join_date %>加入</p>
                        <a href="javascript:;" class="followers">粉丝 <%= data.followers? data.followers:0 %></a>
                        <a href="javascript:;" class="following">关注 <%= data.following? data.following:0 %></a>
                    </div>
                </div>
                <!--<div class="tag-area">-->
                    <!--<a href="/result?query='将军'"><em>将军</em><i class="tag-del">×</i></a>-->
                    <!--<a href="/result?query='裁缝'"><em>裁缝</em><i class="tag-del">×</i></a>-->
                    <!--<a href="/result?query='医生'"><em>医生</em><i class="tag-del">×</i></a>-->
                    <!--<a href="javascript:;" class="tag-add"></a>-->
                <!--</div>-->
                <div class="r-footer">
                    <div class="company-area">
                        <p class="company-ver">© 2016 深圳娑婆诃科技有限公司　suopoearth.com 版权所有</p>
                        <div class="company-nav">
                            <a href="/intro">关于我们</a>
                            <a class="contact" href="/contact">联系我们</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <% include create.html %>
    <% include messagepop.html %>
</body>
<script src="/js/jquery.min.js" type="text/javascript"></script>
<script src="/js/common.js" type="text/javascript"></script>
<script src="/js/user.js" type="text/javascript"></script>
</html>
