<!DCOTYPE html>
<html lang="zh-cms-Hans">
<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <title><%= title %></title>
    <!-- 通用样式 -->
    <link href="/css/style.css" rel="stylesheet" type="text/css" />
    <link href="/css/user.css" rel="stylesheet" type="text/css" />
    <!--[if lt IE 9]>
    <link href="/css/compatible.css" rel="stylesheet" type="text/css" />
    <![endif]-->
</head>
<body>
    <% include header.html %>
    <div class="container">
        <div class="dream-con">
            <div class="dream-left">
                <div class="mydream-area">
                    <div class="mydream-nav">
                        <div class="nav-list">
                            <ul>
                                <li><a href="/user/<%= data.id %>" class="<%if (data.tab == "dream") {%>cur<% } %> tab"><%= data.currUser %>的想法</a></li>
                                <li><a href="/user/<%= data.id %>?tab=activity" class="<%if (data.tab == "activity") {%>cur<% } %> tab"><%= data.currUser %>的动态</a></li>
                            </ul>
                        </div>
                        <div class="nav-ctrl">
                            <% if (user) { %>
                            <a href="/settings" class="edit-profile btn">编辑个人档</a>
                            <% if (user.id != data.id) { %>
                            <% if (data.isfollow) { %>
                            <button data-isfollow="<%= data.isfollow %>" data-fid="<%= data.id %>" class="follow btn">
                                取消关注
                            </button>
                            <% } else { %>
                            <button data-isfollow="<%= data.isfollow %>" data-fid="<%= data.id %>" class="follow btn">
                                关注
                            </button>
                            <% } %>
                            <% } %>
                            <% } else { %>
                            <button data-isfollow="<%= data.isfollow %>" data-fid="<%= data.id %>" class="follow btn">
                                关注
                            </button>
                            <% } %>
                            <!--<button class="message-add btn">打招呼</button>-->
                        </div>
                    </div>
                    <% if (data.tab == "dream") { %>
                    <div class="mydream-list">
                        <% if (data.dreams && data.dreams.length > 0) { %>
                        <ul>
                            <% data.dreams.forEach(function(dream) { %>
                            <li>
                                <h3><a href="/dream/<%= dream._id %>"><%= dream.title %></a></h3>
                                <p><%= dream.description %></p>
                            </li>
                            <% }); %>
                        </ul>
                        <% } else { %>
                        <div class="no-dream-content">
                            <div class="no-dream-tips">你目前没有分享任何想法</div>
                            <div class="btn-group"><a href="/intro" class="btn btn-big">关于娑婆世界</a><a id="first_cdream_btn" class="btn btn-big">分享想法</a></div>
                        </div>
                        <% } %>
                        <div>
                            <% if (data.page > 1) { %>
                            <a href="/user/<%= data.id %>?page=<%= Math.max(1, (data.page - 1)) %>">上一页</a>
                            <% } else { %>
                            <a class="disable">上一页</a>
                            <% } %>
                            <a href="/user/<%= data.id %>?page=1" <% if (data.page == 1) { %>class="cur"<% } %>>1</a>
                            <% if (data.start > 2) { %>
                            ...
                            <% } %>
                            <% for (var p = data.start, l = data.count; p < l && p < data.end; p++) { %>
                            <a href="/user/<%= data.id %>?page=<%= p %>" <% if (data.page == p) { %>class="cur"<% } %>><%= p %></a>
                            <% } %>

                            <% if (p < data.count) { %>
                            ...
                            <% } %>
                            <% if (data.count > 1) { %>
                            <a href="/user/<%= data.id %>?page=<%= data.count %>" <% if (data.page == data.count) { %>class="cur"<% } %>><%= data.count %></a>
                            <% } %>
                            <% if (data.page < data.count) { %>
                            <a href="/user/<%= data.id %>?page=<%= Math.min(data.count, (data.page + 1)) %>">下一页</a>
                            <% } else { %>
                            <a class="disable">下一页</a>
                            <% } %>
                        </div>
                    </div>
                    <% } else if (data.tab == "activity") { %>
                    <ul id="ac-list" class="activity-list">
                    <% include uaclist.html %>
                    </ul>
                    <% } %>
                </div>
            </div>
            <div class="dream-right">
                <div class="user-area">
                    <div class="avatar">
                        <img height="96" width="96" src="<%= data.avatar || '/images/user_pic.png' %>" />
                    </div>
                    <div class="info">
                        <h1><%= data.name %></h1>
                        <p><%= data.bio %></p>
                        <p>于<%= data.join_date %>加入</p>
                        <a href="/user/<%= data.id %>/followers" class="followers">粉丝 <%= data.followers? data.followers:0 %></a>
                        <a href="/user/<%= data.id %>/following" class="following">关注 <%= data.following? data.following:0 %></a>
                    </div>
                </div>
                <!--<div class="tag-area">-->
                    <!--<a href="/result?query='将军'"><em>将军</em><i class="tag-del">×</i></a>-->
                    <!--<a href="/result?query='裁缝'"><em>裁缝</em><i class="tag-del">×</i></a>-->
                    <!--<a href="/result?query='医生'"><em>医生</em><i class="tag-del">×</i></a>-->
                    <!--<a href="javascript:;" class="tag-add"></a>-->
                <!--</div>-->
                <div class="r-footer">
                    <div class="company-area">
                        <p class="company-ver">© 2016 深圳娑婆诃科技有限公司　suopoearth.com 版权所有</p>
                        <div class="company-nav">
                            <a href="/intro">关于我们</a>
                            <a class="contact" href="/contact">联系我们</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <% include create.html %>
    <% include messagepop.html %>
    <% include signinpop.html %>
</body>
<script data-main="/js/user.js" src="/js/require.js"></script>
</html>
