                <ul id="ac-list" class="activity-list">
                <% if (data.activities && data.activities.length > 0) { %>
                <% for (var i = 0; i < data.activities.length; i++) { %>
                <li>
                    <div>
                        <p class="user-info">
                            <a class="avatar" href="/user/<%- data.activities[i]._belong_u? data.activities[i]._belong_u._id:data.activities[i]._belong_u %>"><img src="/images/user_mini.png" /></a>
                            <em class="user-desc">
                            <% if (data.activities[i]._belong_u) { %>
                            <a href="/user/<%- data.activities[i]._belong_u._id %>">
                            <%- data.activities[i]._belong_u.nickname %>
                            <% } else { %>
                            <a href="/user/<%- data.activities[i]._belong_u %>">
                            <%- data.activities[i].alias %>
                            <% } %>
                            </a>
                            于<%- timeFormat(data.activities[i].date) %>
                            <% if (data.activities[i].type == 0) { %>
                            创建了想法
                            <% if ( data.activities[i]._create_d) { %>
                            <a href="/dream/<%- data.activities[i]._create_d._id %>"><%- data.activities[i]._create_d.title %></a>
                            <% } else { %>
                            该想法已经不存在
                            <% } %>
                            <% } else if (data.activities[i].type == 1) { %>
                            在想法
                            <% if (data.activities[i]._belong_d) { %>
                            <a href="/dream/<%- data.activities[i]._belong_d._id %>"><%- data.activities[i]._belong_d.title %></a>
                            <% } else { %>
                            该想法已经不存在
                            <% } %>
                            中
                            更新了历程
                            <% } %>
                            </em>
                        </p>
                        <% if (data.activities[i].type == 0 && data.activities[i]._create_d) { %>
                        <p class="ac-summary"><%- data.activities[i]._create_d.description %></p>
                        <% } else if (data.activities[i].type == 1) { %>
                        <% if (data.activities[i]._create_n) { %>	
                        <p class="ac-summary"><%- data.activities[i]._create_n.content %></p>
                        <p><a href="/dream/<%- data.activities[i]._belong_d && data.activities[i]._belong_d._id %>?nid=<%- data.activities[i]._create_n._id %>">查看</a></p>
                        <% } else { %>
                        <p class="ac-summary">该历程已经不存在</p>
                        <% } %>
                        <% } %>
                    </div>
                </li>
                <% } %>
                <li>
                <% if (data.hasmore) { %>
                    <div  data-anext="<%- data.anext %>" data-tab="<%- data.tab %>" class="more"><a class="btn">查看更多 ></a></div>
                <% } %>
                </li>
                <% } else { %>
                <li>
                    <div class="result">
                        <% if (data.tab == 'fuser') { %>
                        你没有关注任何人。
                        <% } else if (data.tab == 'fdream') { %>
                        <div class="no-dream-content">
                            <div class="no-dream-tips">你目前没有关注任何想法</div>
                            <div class="btn-group"><a href="/intro" class="btn btn-big">了解娑婆世界</a><a href="/found" class="btn btn-big">看看</a></div>
                        </div>
                        <% } else { %>
                        没有任何动态。
                        <% } %>
                    </div>
                </li>
                <% } %>
                </ul>
