<!DCOTYPE html>
<html lang="zh-cms-Hans">
<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>绘制 - <%= title %></title>
    <!-- 通用样式 -->
    <link href="/css/style.css" rel="stylesheet" type="text/css" />
    <!--[if lt IE 9]>
    <link href="/css/compatible.css" rel="stylesheet" type="text/css" />
    <![endif]-->
</head>
<body>
    <% include ../partials/header.html %>
    <div class="container canvas-bg">
        <div class="tools">
            <div id="mode-choose" class="mode-choose">
                <a data-ctrl="1" class="btn on">绘制</a>
                <a data-ctrl="2" class="btn">擦除</a>
            </div>
            <div>
                <div class="color-bg">
                    <div id="brush-color" class="color"></div>
                </div>
            </div>
            <div>
                <a id="avatar-clear" class="btn">清空画板</a>
                <a id="avatar-save" class="btn">使用这张图</a>
            </div>
        </div>
        <div id="canvas" class="canvas">
        </div>
    </div>
    <% include ../partials/footer.html %>
    <% include ../partials/create.html %>
    <script data-main="/js/canvas.js" src="/js/require.js"></script>
</body>
</html>
