<!DCOTYPE html>
<html lang="zh-cms-Hans">
<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title><%= data.current.title %> - <%= title %></title>
    <link rel="shortcut icon" href="/favicon.ico" /> 
    <!-- 通用样式 -->
    <link href="/css/style.css" rel="stylesheet" type="text/css" />
    <!--[if lt IE 9]>
    <link href="/css/compatible.css" rel="stylesheet" type="text/css" />
    <![endif]-->
</head>
<body>
    <% include ../partials/header.html %>
    <div class="container">
        <div class="dream-con">
            <div class="dream-left">
                <div class="dream-left-inner">
                <!--<div class="tag-area">-->
                    <!--<a href="/result?query='梦想'"><em>希望</em><i class="tag-del">×</i></a>-->
                    <!--<a href="/result?query='想法'"><em>想法</em><i class="tag-del">×</i></a>-->
                    <!--<a href="/result?query='天空'"><em>天空</em><i class="tag-del">×</i></a>-->
                    <!--<a href="javascript:;" class="tag-add"></a>-->
                <!--</div>-->
                <div class="content-area">
                    <h1 id="sharetitle" class="title"><%= data.current.title %></h1>
                    <% if (data.current.description) { %>
                    <p id="shareintro" class="content"><%= data.current.description %></p>
                    <% } %>
                </div>
                <div data-did="<%= data.current.id %>" data-blid="<%= data.current.id %>" data-bl="0" class="dream-ctrl ctrl-area">
                    <div class="ctrl-nav">
                        <ul class="ctrl-list">
                            <!--<li><a class="fav" href="javascript:;"><i class="favrioute-icon"></i>添加</a></li>-->
                            <!--<li><a class="good" href="javascript:;"><i class="approval-icon"></i>支持</a></li>-->
                            <!--<li><a class="bad" href="javascript:;"><i class="opposition-icon"></i>不屑</a></li>-->
                            <!--<li>-->
                                <!--<a class="comment" href="javascript:;"><i class="comment-icon"></i>提议 <%= data.current.comments.length %></a>-->
                            <!--</li>-->
                            <li>
                                <a href="javascript:;" class="share-btn">分享到</a>
                                <ul class="share-ctrl">
                                    <li><a id="xlwb_share" href="javascript:;" class="sina-icon">新浪微博</a></li>
                                    <li><a id="qqwb_share" href="javascript:;" class="qq-icon">腾讯微博</a></li>
                                    <li><a id="db_share" href="javascript:;" class="dou-icon">豆瓣</a></li>
                                    <!--<li><a href="javascript:;" class="ren-icon">人人</a></li>-->
                                    <!--<li><a href="javascript:;" class="wei-icon">微信</a></li>-->
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <div class="comment-area" style="display: none;">
                        <% if (user) { %>
                        <textarea></textarea>
                        <div class="btn-area"><button class="btn btn-comment">发表</button></div>
                        <% } %>
                        <ul>
                        </ul>
                    </div>
                </div>
                <!--<div class="blue-print">-->
                    <!--<h2>蓝图</h2>-->
                    <!--<div>-->
                        <!--<% include ../partials/blueprint.html %>-->
                    <!--</div>-->
                <!--</div>-->
                <div class="process-area">
                    <div class="process-nav clearfix">
                        <div class="nav-left clearfix">
                            <ul class="tab-nav">
                                <li>
                                    <a class="cur tab" href="javascript:;">心路历程</a>
                                </li>
                                <!--<li>-->
                                    <!--<a href="javascript:;">甘特图</a>-->
                                <!--</li>-->
                            </ul>
                        </div>
                        <!--<div class="nav-right">-->
                            <!--<a id="node-add" href="javascript:;">-->
                                <!--设置-->
                                <!--<i class="config-icon"></i>-->
                            <!--</a>-->
                        <!--</div>-->
                    </div>
                    <div class="tab-content">
                        <% if (user && data.current._belong_u == user.id) { %>
                        <div class="edit-area">
                            <div class="add-area">
                                <form action="/node/new" id="node_create_form" method="post">
                                <ul>
                                    <!--<li><a href="javascript:;" class="pic-add"><i class="pic-icon"></i>添加图片</a></li>-->
                                    <!--<li><a href="javascript:;" class="video-add"><i class="video-icon"></i>添加视频</a></li>-->
                                    <!--<li><a href="/store" class="more-add"><i class="more-icon"></i>更多资源</a></li>-->
                                    <li class="textarea-field"><textarea id="story-editor" placeholder="分享一下你的心路故事..." name="content"></textarea></li>
                                    <li style="display: none;"><input name="did" type="hidden" value="<%= data.current.id %>" /></li>
                                </ul>
                                <div class="edit-ctrl">
                                    <a href="javascript:;" title="表情" alt="表情" class="face">(∩＿∩)</a>
                                    <button type="submit" id="node_create_btn" class="btn">分享</button>
                                </div>
                                </form>
                            </div>
                        </div>
                        <% } else { %>
                        <!--<div class="">-->
                            <!--和我的想法一样 <button class="btn">参与</button>-->
                        <!--</div>-->
                        <% } %>
                        <div id="node-list">
                            <% include ../partials/nodelist.html %>
                        </div>
                    </div>
                    <div class="tab-content" style="display: none;">
                    </div>
                </div>
                </div>
            </div>
            <div class="dream-right">
                <div class="dream-right-inner">
                <% if (data.current && data.current._belong_u != (user && user.id)) { %>
                <div>
                    <% if (!data.isFollow) { %>
                    <button data-isfollow="<%= data.isFollow %>" data-did="<%= data.current.id %>" rel="dream-follow" class="btn">关注该想法</button>
                    <% } else { %>
                    <button data-isfollow="<%= data.isFollow %>" data-did="<%= data.current.id %>" rel="dream-follow" class="btn">取消关注想法</button>
                    <% } %>
                </div>
                <% } %>
                <% if (data.current && data.current._belong_u == (user && user.id)) { %>
                    <button data-did="<%= data.current.id %>" rel="dream-delete" class="btn">删除想法</button>&nbsp;
                    <button data-did="<%= data.current.id %>" rel="dream-modify" class="btn">修改</button>
                <% } %>
                <div class="author">
                    <h2>发起人</h2>
                    <div class="author-top">
                        <a class="avatar" href="/user/<%= data.author.id %>">
                            <img width="48" height="48" src="<%= data.author.avatar %>" />
                        </a>
                        <a class="author-name" href="/user/<%= data.author.id %>"><%= data.author.nickname %></a>
                        <p class="admonition"><%= data.author.bio %></p>

                    </div>
                    <p class="author-ctrl">
                        <% if (user) { %>
                        <% if (!data.author._id.equals(user._id)) { %>
                        <% if (data.author.isfollow) { %>
                        <button data-isfollow="<%= data.author.isfollow %>" data-fid="<%= data.author.id %>" class="follow btn">
                            取消关注
                        </button>
                        <% } else { %>
                        <button data-isfollow="<%= data.author.isfollow %>" data-fid="<%= data.author.id %>" class="follow btn">
                            关注
                        </button>
                        <% } %>
                        <% } %>
                        <% } else { %>
                        <button data-isfollow="<%= data.author.isfollow %>" data-fid="<%= data.author.id %>" class="follow btn">
                            关注
                        </button>
                        <% } %>
                        <!--<button class="message-add btn">打招呼</button>-->
                    </p>
                </div>
                <div class="member">
                    <h2><%= data.membercount %>人关注了该想法</h2>
                        <ul>
                            <% if (data.members.length > 0) { %>
                            <% data.members.forEach(function(member) { %>
                            <li>
                                <div class="friend">
                                    <a href="/user/<%= member.id %>"><img width="48" height="48" src="<%= member.avatar %>" /></a>
                                    <div class="tips" style="display: none;">
                                        <div><%= member.nickname %></div>
                                        <p>
                                            <% if (user) { %>
                                            <% if (!member._id.equals(user._id)) { %>
                                            <% if (member.isfollow) { %>
                                            <button data-isfollow="<%= member.isfollow %>" data-fid="<%= member.id %>" class="follow btn">
                                                取消关注
                                            </button>
                                            <% } else { %>
                                            <button data-isfollow="<%= member.isfollow %>" data-fid="<%= member.id %>" class="follow btn">
                                                关注
                                            </button>
                                            <% } %>
                                            <% } %>
                                            <% } else { %>
                                            <button data-isfollow="<%= member.isfollow %>" data-fid="<%= member.id %>" class="follow btn">
                                                关注
                                            </button>
                                            <% } %>
                                            <!--<button class="message-add btn">打招呼</button>-->
                                        </p>
                                    </div>
                                </div>
                            </li>
                            <% }); %>
                            <% } %>
                            <!--<li>-->
                                <!--<a class="member-add" href="javascript:;">-->
                                    <!--<i class="icon-add"></i>-->
                                    <!--<p>参与</p>-->
                                <!--</a>-->
                            <!--</li>-->
                        </ul>
                </div>
                <div class="r-footer">
                    <div class="company-area">
                        <p class="company-ver">© 2016 深圳娑婆诃科技有限公司　suopoearth.com 版权所有</p>
                        <div class="company-nav">
                            <a href="/intro">关于我们</a>
                            <a class="contact" href="/contact">联系我们</a>
                            <a class="feedback" href="mailto:feedback@suopoearth.com">反馈建议</a>
                        </div>
                    </div>
                </div>
                </div>
            </div>
        </div>
        <div class="global-ctrl">
            <ul>
                <li>
                    <a href="javascript:;" class="back-top">回到顶部</a>
                </li>
                <!--<li>-->
                    <!--<a href="javascript:;" class="feed-back">反馈</a>-->
                <!--</li>-->
            </ul>
        </div>
    </div>
    <% if (data.prev && data.prev.id) {%>
    <a href="/dream/<%= data.prev.id %>" class="prev-btn">上一个想法</a>
    <% } %>
    <% if (data.next && data.next.id) {%>
    <a href="/dream/<%= data.next.id %>" class="next-btn">下一个想法</a>
    <% } %>
    <% include ../partials/signinpop.html %>
    <% include ../partials/create.html %>
    <% include ../partials/messagepop.html %>
    <script data-main="/js/dream.js" src="/js/require.js"></script>
</body>
</html>
