<!DCOTYPE html>
<html lang="zh-cms-Hans">
<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>首页 - <%= title %></title>
    <link rel="shortcut icon" href="/favicon.ico" /> 
    <!-- 通用样式 -->
    <link href="/css/style.css" rel="stylesheet" type="text/css" />
    <!--[if lt IE 9]>
    <link href="/css/compatible.css" rel="stylesheet" type="text/css" />
    <![endif]-->
</head>
<body>
    <% include ../partials/header.html %>
    <div class="container">
        <div class="dream-con">
            <div class="dream-left">
            <div class="dream-left-inner">
                <div class="dream-release">
                    <div class="dream-user"><img width="48" height="48" src="<%= user.avatar %>" /></div>
                    <div class="dream-ctrl">
                        分享您的心愿或者想法...&nbsp;<a id="dream-release" href="javascript:;" class="btn">分享</a>
                    </div>
                </div>
                <div class="tab-nav">
                    <ul>
                        <li><a hidefocus="true" class="tab <% if (data.tab == 'all') { %>cur"<% } %>" href="/">全部动态</a></li>
                        <li><a hidefocus="true" class="tab <% if (data.tab == 'fdream') { %>cur"<% } %>" href="/?tab=fdream">关注的想法的动态</a></li>
                        <li><a hidefocus="true" class="tab <% if (data.tab == 'fuser') { %>cur"<% } %>" href="/?tab=fuser">关注的人的动态</a></li>
                    </ul>
                </div>
                <ul id="ac-list" class="activity-list">
                <% include ../partials/aclist.html %>
                </ul>
            </div>
            </div>
            <div class="dream-right">
                <div class="dream-right-inner">
                <div>
                <div class="tab-nav">
                    <ul>
                        <li><a hidefocus="true" class="tab cur" href="javascript:;">我的想法</a></li>
                        <li><a hidefocus="true" class="tab" href="javascript:;">我关注的想法</a></li>
                    </ul>
                </div>
                <div class="tab-content">
                    <div class="tab-item">
                <% if (data.mdreams && data.mdreams.length > 0) { %>
                <ul id="dream-list" data-total="<%= data.mdcount %>">
                <% data.mdreams.forEach(function(dream) { %>
                <li>
                    <a hidefocus="true" title="<%= dream.title %>" alt="<%= dream.title %>" href="/dream/<%= dream._id %>"><%= dream.title %></a>
                </li>
                <% }); %>
                </ul>
                <% } else { %>
                <div class="no-dream-content">
                    <div class="no-dream-tips">你目前没有分享任何想法</div>
                    <div class="btn-group"><a hidefocus="true" href="/intro" class="btn btn-big">了解娑婆世界</a><a hidefocus="true" id="first_cdream_btn" class="btn btn-big">分享想法</a></div>
                </div>
                <% } %>
                    </div>
                    <div class="tab-item" style="display:none;">
                <% if (data.fdreams && data.fdreams.length > 0) { %>
                <ul id="fdream-list" data-total="<%= data.fdcount %>">
                <% data.fdreams.forEach(function(dream) { %>
                <li>
                    <a hidefocus="true" title="<%= dream.title %>" alt="<%= dream.title %>" href="/dream/<%= dream._id %>"><%= dream.title %></a>
                </li>
                <% }); %>
                </ul>
                <% } else { %>
                <div class="no-dream-content">
                    <div class="no-dream-tips">你目前没有关注任何想法</div>
                    <div class="btn-group"><a hidefocus="true" href="/intro" class="btn btn-big">了解娑婆世界</a><a hidefocus="true" href="/found" class="btn btn-big">看看</a></div>
                </div>
                <% } %>
                </div>
                </div>
                </div>
                </div>
                <div class="r-footer">
                    <div class="company-area">
                        <p class="company-ver">© 2016 深圳娑婆诃科技有限公司　suopoearth.com 版权所有</p>
                        <div class="company-nav">
                            <a hidefocus="true" href="/intro">关于我们</a>
                            <a hidefocus="true" class="contact" href="/contact">联系我们</a>
                            <a hidefocus="true" class="feedback" href="mailto:feedback@suopoearth.com">反馈建议</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <% include ../partials/create.html %>
    <script data-main="/js/index.js" src="/js/require.js"></script>
</body>
</html>
