<!DCOTYPE html>
<html lang="zh-cms-Hans">
<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>首页 - <%= title %></title>
    <link rel="shortcut icon" href="/favicon.ico" /> 
    <!-- 通用样式 -->
    <link href="/css/index.css" rel="stylesheet" type="text/css" />
    <!--[if lt IE 9]>
    <link href="/css/compatible.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="/js/respond.min.js"></script>
    <![endif]-->
    <script src="/lib/react.js"></script>
    <script src="/lib/react-dom.js"></script>
</head>
<body>
    <% include ../partials/header.html %>
    <div class="container">
        <div id="thanks-area">
            <div class="hd">
                <span class="title">还愿</span>
                <span class="title">许愿</span>
            </div>
            <div class="bd">
                每天感恩，我们在一整天都会有好运。好人有好报，每天让我们做一次天使，帮助别人实现一个愿望。
                <% if (data.current) { %>
                <div>
                    <h2><a href="/dream/<%= data.current._id %>"><%= data.current.title %></a></h2>
                    <p><%= data.current.description %></p>
                </div>
                <% } %>
                <form action="/experience/new" id="node_create_form" method="post">
                    <div id="editor"></div>
                    <div class="btn-group">
                    <button class="btn">写完了></button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <% include ../partials/footer.html %>
    <% include ../partials/create.html %>
    <% include ../partials/signinpop.html %>
    <script src="/js/index_unlogged.js"></script>
</body>
</html>
