<!DCOTYPE html>
<html lang="zh-cms-Hans">
<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>首页 - <%= title %></title>
    <link rel="shortcut icon" href="/favicon.ico" /> 
    <!-- 通用样式 -->
    <link href="/css/index.css" rel="stylesheet" type="text/css" />
    <!--[if lt IE 9]>
    <link href="/css/compatible.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="/js/respond.min.js"></script>
    <![endif]-->
</head>
<body>
    <% include ../partials/header.html %>
    <div class="container">
        <div id="thanks-pop" class="dialog">
            <div class="hd">
                <span class="title">还愿</span>
                <a href="javascript:;" class="close"></a>
            </div>
            <div class="bd">
                每天感恩，我们在一整天都会有好运。好人有好报，每天让我们做一次天使，帮助别人实现一个愿望。
                <form action="/experience/new" id="node_create_form" method="post">
                    <% include ../partials/editor.html %>
                </form>
                <a href="javascript:;" class="btn">再满足一个愿望</a>
            </div>
        </div>
    </div>
    <% include ../partials/footer.html %>
    <% include ../partials/create.html %>
    <% include ../partials/signinpop.html %>
    <!--<script src="/js/dist/index_unlogged_common.js"></script>-->
    <script src="/js/dist/index_unlogged.js"></script>
</body>
</html>
