<!DCOTYPE html>
<html lang="zh-cms-Hans">
<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title><%= title %></title>
    <!-- 通用样式 -->
    <link href="/css/style.css" rel="stylesheet" type="text/css" />
    <!--[if lt IE 9]>
    <link href="/css/compatible.css" rel="stylesheet" type="text/css" />
    <![endif]-->
</head>
<body>
    <% include ../partials/header.html %>
    <div class="container">
        <div class="msg-area">
        <ul id="msg-list">
            <% if (data.msgs) { %>
            <% data.msgs.forEach(function(msg) { %>
            <li>
                <div class="message-text">
                    <h3><%= msg.title %></h3>
                    <p><a href="<%= msg.url %>"><%= msg.content %></a><p>
                </div>
                <a data-mid="<%= msg._id %>" rel="message-remove" class="btn message-btn">移除</a>
            </li>
            <% }); %>
            <% } else { %>
            <li>您当前没有消息。</li>
            <% } %>
            <div class="pagination">
                <% if (data.page > 1) { %>
                <a href="/message?page=<%= Math.max(1, (data.page - 1)) %>">上一页</a>
                <% } else { %>
                <a class="disable">上一页</a>
                <% } %>
                <a href="/message?page=1" <% if (data.page == 1) { %>class="curr"<% } %>>1</a>
                <% if (data.start > 2) { %>
                ...
                <% } %>
                <% for (var p = data.start, l = data.count; p < l && p < data.end; p++) { %>
                <a href="/message?page=<%= p %>" <% if (data.page == p) { %>class="curr"<% } %>><%= p %></a>
                <% } %>

                <% if (p < data.count) { %>
                ...
                <% } %>
                <% if (data.count > 1) { %>
                <a href="/message?page=<%= data.count %>" <% if (data.page == data.count) { %>class="cur"<% } %>><%= data.count %></a>
                <% } %>
                <% if (data.page < data.count) { %>
                <a href="/message?page=<%= Math.min(data.count, (data.page + 1)) %>">下一页</a>
                <% } else { %>
                <a class="disable">下一页</a>
                <% } %>
            </div>

        </ul>
        </div>
    </div>
    <% include ../partials/create.html %>
    <script data-main="/js/message.js" src="/js/require.js"></script>
    <% include ../partials/footer.html %>
</body>
</html>
