<!DCOTYPE html>
<html lang="zh-cms-Hans">
<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title><%= title %></title>
    <!-- 通用样式 -->
    <link href="/css/style.css" rel="stylesheet" type="text/css" />
    <!--[if lt IE 9]>
    <link href="/css/compatible.css" rel="stylesheet" type="text/css" />
    <![endif]-->
</head>
<body>
    <% include ../partials/header.html %>
    <div class="container">
        <div class="store-area">
            <div>
                <h2>公益</h2>
                <ul>
                    <li>
                        <a class="app-pic"><img src="/images/group.png" /></a>
                        <div class="app-info">
                            <p><a>某某基金</a></p>
                            <p class="app-summary">一个微小的想法可能改变一个人的一生。</p>
                            <p><a class="btn">+ 访问</a></p>
                        </div>
                    </li>
                </ul>
            </div>
            <div>
                <h2>视听体验</h2>
                <ul>
                    <li>
                        <a class="app-pic"><img src="/images/music.png" /></a>
                        <div class="app-info">
                            <p><a>线上ktv</a></p>
                            <p class="app-summary">唱出你的心声。</p>
                            <p><a class="btn">+ 添加</a></p>
                        </div>
                    </li>
                    <li>
                        <a class="app-pic"><img src="/images/record.png" /></a>
                        <div class="app-info">
                            <p><a>线上录音棚</a></p>
                            <p class="app-summary">show出你的随性。</p>
                            <p><a class="btn">+ 添加</a></p>
                        </div>
                    </li>
                    <li>
                        <a class="app-pic"><img src="/images/read.png" /></a>
                        <div class="app-info">
                            <p><a>线上阅读</a></p>
                            <p class="app-summary">书本是舞台，文字是音符，在阅读中翩翩起舞。</p>
                            <p><a class="btn">+ 添加</a></p>
                        </div>
                    </li>
                    <li>
                        <a class="app-pic"><img src="/images/glass.png" /></a>
                        <div class="app-info">
                            <p><a>线上VR影院</a></p>
                            <p class="app-summary">体验第九种艺术的快感。</p>
                            <p><a class="btn">+ 添加</a></p>
                        </div>
                    </li>
                </ul>
            </div>
            <div>
                <h2>衣食住行</h2>
                <ul>
                    <li>
                        <a class="app-pic"><img src="/images/clothes.png" /></a>
                        <div class="app-info">
                            <p><a>制衣坊</a></p>
                            <p class="app-summary">保证践行者的最基本生活诉求。</p>
                            <p><a class="btn">+ 添加</a></p>
                        </div>
                    </li>
                    <li>
                        <a class="app-pic"><img src="/images/cookie.png" /></a>
                        <div class="app-info">
                            <p><a>邻家私厨</a></p>
                            <p class="app-summary">保证践行者的最基本生活诉求。</p>
                            <p><a class="btn">+ 添加</a></p>
                        </div>
                    </li>
                    <li>
                        <a class="app-pic"><img src="/images/car.png" /></a>
                        <div class="app-info">
                            <p><a>碧途出行</a></p>
                            <p class="app-summary">保证践行者的最基本生活诉求。</p>
                            <p><a class="btn">+ 添加</a></p>
                        </div>
                    </li>
                    <li>
                        <a class="app-pic"><img src="/images/house.png" /></a>
                        <div class="app-info">
                            <p><a>安居之家</a></p>
                            <p class="app-summary">保证践行者的最基本生活诉求。</p>
                            <p><a class="btn">+ 添加</a></p>
                        </div>
                    </li>
                </ul>
            </div>
            <div>
                <h2>兴趣娱乐</h2>
                <ul>
                    <li>
                        <a class="app-pic"><img src="/images/travel.png" /></a>
                        <div class="app-info">
                            <p><a>驴友团</a></p>
                            <p class="app-summary">体验第九种艺术的快感。</p>
                            <p><a class="btn">+ 添加</a></p>
                        </div>
                    </li>
                    <li>
                        <a class="app-pic"><img src="/images/art.png" /></a>
                        <div class="app-info">
                            <p><a>手工作坊</a></p>
                            <p class="app-summary">体验第九种艺术的快感。</p>
                            <p><a class="btn">+ 添加</a></p>
                        </div>
                    </li>
                    <li>
                        <a class="app-pic"><img src="/images/draw.png" /></a>
                        <div class="app-info">
                            <p><a>风车画廊</a></p>
                            <p class="app-summary">体验第九种艺术的快感。</p>
                            <p><a class="btn">+ 添加</a></p>
                        </div>
                    </li>
                    <li>
                        <a class="app-pic"><img src="/images/sports.png" /></a>
                        <div class="app-info">
                            <p><a>硕美健身</a></p>
                            <p class="app-summary">体验第九种艺术的快感。</p>
                            <p><a class="btn">+ 添加</a></p>
                        </div>
                    </li>
                </ul>
            </div>
            <div>
                <h2>组织机构</h2>
                <ul>
                    <li>
                        <a class="app-pic"><img src="/images/news.png" /></a>
                        <div class="app-info">
                            <p><a>某某自媒体传媒</a></p>
                            <p class="app-summary">让造梦者去更高的舞台。</p>
                            <p><a class="btn">+ 申请合作</a></p>
                        </div>
                    </li>
                    <li>
                        <a class="app-pic"><img src="/images/publish.png" /></a>
                        <div class="app-info">
                            <p><a>某某出版社</a></p>
                            <p class="app-summary">让造梦者去更高的舞台。</p>
                            <p><a class="btn">+ 申请合作</a></p>
                        </div>
                    </li>
                    <li>
                        <a class="app-pic"><img src="/images/earth.png" /></a>
                        <div class="app-info">
                            <p><a>某某环境组织</a></p>
                            <p class="app-summary">让造梦者去更高的舞台。</p>
                            <p><a class="btn">+ 申请合作</a></p>
                        </div>
                    </li>
                    <li>
                        <a class="app-pic"><img src="/images/soney.png" /></a>
                        <div class="app-info">
                            <p><a>某某唱片</a></p>
                            <p class="app-summary">让造梦者去更高的舞台。</p>
                            <p><a class="btn">+ 申请合作</a></p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <% include ../partials/footer.html %>
    <% include ../partials/create.html %>
</body>
<script data-main="/js/default.js" src="/js/require.js"></script>
</html>
